[Desktop Entry]
Version=1.0
Type=Application
Name=Office Factoring
Name[pt_BR]=Office Factoring
Comment=Sistema de gestão para factoring e fomento mercantil
Exec=OfficeFactoring
Icon=OfficeFactoring
Terminal=false
StartupNotify=true
Categories=Office;Finance;GTK;

